/*Page size and position*/
body {
  position: center;
  margin: auto;
  width: 90%;
  height: 100vh;
  text-align: center;
  background-color: grey;
}

/*Header Image*/
.header-img{
    width: 100%;
    height: 24vh;
    background: url(https://lh3.googleusercontent.com/pw/AM-JKLXtjego22gyjXWeCkZsIwQCNJs8lyuacUINK4DO2NjmrASzlwy03svZxCr7YjxfK0ZvrT6x66JvSe1kfkkkthiRFtV7e_cbFmSkX7K1_kEN4gbgSWl9JyzyXD81J8hs4iMGNKnr_KBTaMWyCCP2W9GW=w1858-h180-no?authuser=0);
    background-size: contain;
    position: relative;
    border: 2px solid #39ff14;

}
/*These are the settings of the navbar box*/
.navcontainer{
    width: auto;
    margin-top: 18.5vh;
    position: absolute;
    background-color: black;
    border: 1px solid #39ff14;
}

.nav1{
    font-family: "Lucida Console", serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #333;
    overflow: hidden;
}


/*Look into how this works*/
.nav1 a {
    float: left;
    color: #39ff14;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /*This changes the navbar when you hover over each link*/
  .nav1 a:hover {
    background-color: #39ff14;
    color: black;
  }

.text-alignment{
    text-align: left;
    /*display: inline-block;*/
    margin-inline: 10%;
}

/*------------------------------------------------------------------------*/

/* SLIDESHOW 1 */
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery_container { 
  height: auto;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  font-family: sans-serif; 
}

.gallery {
  background: grey;
}

.gallery-cell {
  width: 75%;
  height: 500px;
  margin-right: 10px; 
  background: grey; 
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell;
}
/*
.gallery-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}   */

/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
  opacity: 1;
}

